@font-face {
  font-family: "Oswald";
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(fonts/Caveat/static/Caveat-Regular.ttf);
}
@font-face {
  font-family: "Ralewy";
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Righteous";
  src: url(fonts/Righteous/Righteous-Regular.ttf);
}
@font-face {
  font-family: "Kanit";
  src: url(fonts/Kanit/Kanit-Regular.ttf);
}

#welcome-logo{
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 135px;
  height: 53px;
}
#welcome-logo:hover {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.727);
}
li{
  font-size: 22px;
  font-family: "Kanit"
}
.text-list{
  font-size: 15px;
  font-family: "Oswald"
}

#writeUsButton{
  display: inline;
  visibility: visible;
  position: sticky;
  bottom: 10px;
  right: 600px;
  height:auto;
  width:auto;
}
.companyContainer1 {
  display: flex;
  align-items: center;
  justify-content: center

}
img {
  min-width: 70%;
  max-width: 100%;

}
.companyImage1 {
  flex-basis: 50%;
  
}
.companyText1 {
  font-size: 13px;
  font-family: "Raleway";
  padding-left: 20px;
  flex-basis: 50%;

}
h1 {
  font-size: 20px;
  font-family: "Oswald";
}

h2{
  font-size: 15px;
  font-family: "Righteous";
}
span{
  font-size: 17px;
  font-family: "Raleway";
}
